<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>home</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<style>
  body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    color: white;
    text-align: center;
  }
  header {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  background-color: #333;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute; 
  right: 0; 
  margin-right: 2rem;
}


.navigation {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#logoutBtn {
            background-color: #007bff;
            border: none;
            padding: 0.5rem 1rem;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
.navigation a {
  color: #fff; 
  text-decoration: none;
  font-size: 1.2rem; 
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #6dd5ed;
}

  .main-content {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .logo {
    font-size: 3rem;
    font-weight: bold;
  }

  .logo-subtitle {
    font-size: 1.5rem;
    opacity: 0.6;
    margin-bottom: 3rem;
  }

  .search-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .search-input {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .search-input:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .search-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  .search-button:hover {
    background-color: #555;
  }

  @media (max-width: 768px) {
    .search-input {
      width: 80%;
    }
  }
</style>
</head>
<body>
  <header>
    <nav class="navigation">
      <a href="/home">홈</a>
      <a href="/main">랭킹</a>
      <a href="/list">게시판</a>
      <a href='/chat'>채팅방</a>
      <a href='/getMessageList'>쪽지함</a>
    </nav>
    <div class="user-controls">
      <span id="userGreeting"><%= userId%>님 환영합니다.</span>
      <form action='/logout' method='get'>
        <button id="logoutBtn">로그아웃</button>
      </form>
    </div>
  </header> 

<div class="main-content">
  <div class="logo">
    Dongguk.KR
  </div>
  <div class="logo-subtitle">
    League of Legends
  </div>
  <div class="search-container">
    <form action = /getMatchRecord method = 'post'>
    <input type="text" name="lolname" id="searchInput" class="search-input" placeholder="소환사명, 소환사명...">
    <button id="searchBtn" class="search-button"sjrk >.GG</button>
    </form>
  </div>
</div>

<script>
 
 
</script>
</body>
</html>